# ***1. Data Types and Data Structures***



### Basic Variable Types

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [53]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

Example

In [54]:
my_string1 = 'Bienvenido a'
my_string2 = "Colab"
print(my_string1 + ' ' + my_string2)

Bienvenido a Colab

An integer is a round number with no values after the decimal point.

In [55]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

Example

In [56]:
my_integer = 2021
print(my_integer)
print(type(my_integer))

2021
<class 'int'>

The built-in function int() can convert a string into an integer.

In [57]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

Example

In [58]:
your_string = "2021"
print(type(your_string))
my_integer = int(your_string)
print(type(my_integer))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [59]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

Example

In [60]:
first_float = 4.5
print(type(first_float))
first_int = 10
print(type(first_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [61]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

Example

In [62]:
firstString = "13333"
firstFloat = float(firstString)
print(type(firstFloat))

<class 'float'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [63]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

Example

In [64]:
my_boolean = True
print(my_boolean)
print(type(my_boolean))

True
<class 'bool'>

### Basic Math Operations

The basic math operators in python are demonstrated below:

In [65]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("Exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
Exponent 8

Example

In [66]:
print("Addition (5+5): ", 5+5)
print("Subtraction (20-5):  ", 20-5)
print("Multiplication (5*4): ", 5*4)
print("Division (300/10): ", 300/10)
print("Exponent (5^3): ", 5**3)

Addition (5+5):  10
Subtraction (20-5):   15
Multiplication (5*4):  20
Division (300/10):  30.0
Exponent (5^3):  125




### Data Collections

A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [67]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

Example

In [68]:
newList = ['Curso', 'Algoritmos', 2020,2021,2022]
print(newList)

['Curso', 'Algoritmos', 2020, 2021, 2022]


The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [69]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

Example

In [70]:
new_List = ['Colab', 'Algoritmos', 10,20,30,40,50]
print(len(new_List))
print("Primer valor: " + new_List[0])
print("Segundo valor: " + new_List[1])
string1 = 'Ultimo valor'
print(string1 +": "+ str(new_List[len(new_List) - 1]))

7
Primer valor: Colab
Segundo valor: Algoritmos
Ultimo valor: 50

You can also change the elements in the list by accessing an index and assigning a new value.

In [71]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

Example

In [72]:
newList1 = ['Clases','de','Algoritmos','Colab','Python',2021]
newList1[0] = 'Programacion'
print(newList1)

['Programacion', 'de', 'Algoritmos', 'Colab', 'Python', 2021]

A list can also be sliced with a colon:

In [73]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

Example

In [74]:
lista_nueva = ['Lista','Python',"Programacion",2021]
print(lista_nueva[0:3])

['Lista', 'Python', 'Programacion']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [75]:
print(my_list[1:])

['Connect', 1, 2, 3]

Example

In [76]:
print(lista_nueva[3:])

[2021]

And all elements up to but excluding index 3:

In [77]:
print(my_list[:3])

['Quant', 'Connect', 1]

Example

In [78]:
print(lista_nueva[:2])

['Lista', 'Python']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [79]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

Example

In [80]:
otherList = ['Gatos', 'Perros','Patos']
otherList.append('Gatos')
print(otherList)
otherList.remove('Gatos')
print(otherList)

['Gatos', 'Perros', 'Patos', 'Gatos']
['Perros', 'Patos', 'Gatos']

**Tuple** A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [81]:
my_tuple = ('Welcome','to','QuantConnect')

Example

In [82]:
newTuple = ('Algoritmos','Clases','Programacion', 'Colab', 'Python')

Just like a list, a tuple can be sliced by using index.

In [83]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

Example

In [84]:
newTuple = ('Algoritmos','Clases','Programacion', 'Colab', 'Python')
print(newTuple[0:])

('Algoritmos', 'Clases', 'Programacion', 'Colab', 'Python')

**Set** A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.

In [85]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'FB', 'GOOG', 'IBM', 'AAPL'}

Example

In [86]:
stockList = ['Python','Python','React','Java','C++','Java','Go','Go','Ruby', 'JavaScript']
stockSet = set(stockList)
print(stockSet)

{'Java', 'JavaScript', 'Ruby', 'React', 'Go', 'C++', 'Python'}

**Dictionary** A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [87]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

Example

In [88]:
newDict = {'Sony': 'Ps5', 'Microsoft': 'XboxSeries', 'Nintendo': 'Switch'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [89]:
print(my_dic['GOOG'])

Alphabet

Example

In [90]:
print(newDict['Microsoft'])

XboxSeries

We can also change the value associated with a specified key:

In [91]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

Example

In [92]:
newDict['Microsoft'] = 'XboxSeries X - S'
print(newDict['Microsoft'])

XboxSeries X - S

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [93]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

Example

In [94]:
print(newDict.keys())

dict_keys(['Sony', 'Microsoft', 'Nintendo'])

### Common String Operations

A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [95]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

Example

In [96]:
new_str = 'Bienvenido al curso de Algoritmos'
print(new_str[14:])

curso de Algoritmos

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [97]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

Example

In [98]:
print("Se cuenta la cantidad de veces que puede aparecer dicho caracter".count('a'))
print('There are many methods associated with strings'.find('methods'))
print('Ejemplos que se realizan por medio de colab'.replace('e','o'))

8
15
Ejomplos quo so roalizan por modio do colab

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [99]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

Example

In [100]:
saludo = 'Hola Adios'
splited_list = saludo.split(' ')
hello = splited_list[0]
bye = splited_list[1]
print(hello, bye)
text = saludo.split('a')[1]
print(text)

Hola Adios
 Adios

We can replace parts of a string by our variable. This is called string formatting.

In [101]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

Example

In [102]:
newTime = 'Hour: {}, Minute: {}'.format(4, 20)
print(newTime)

Hour: 4, Minute: 20

Another way to format a string is to use the % symbol. %s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

In [103]:
print('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

Example

In [104]:
print('e is %f' % 2.71828)
print('%s a %s' % ('Bienvenido', 'Algoritmos'))

e is 2.718280
Bienvenido a Algoritmos

# ***2. Logical Operations and Loops***

### Logical Operations

Like most programming languages, Python has comparison operators:

In [105]:
print(1 == 0)    # 1 equals 0
print(1 == 1)    # 1 equals 1
print(1 != 0)    # 1 is not equal to 0
print(5 >= 5)    # 5 is greater than or equal to 5
print(5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

Example

In [106]:
print(100 == 100)    # 100 equals 100
print(10 == 5)    # 10 equals 5
print(5 != 1)    # 5 is not equal to 1
print(5 != 5)    # 5 is not equal to 5
print(13 >= 12)    # 13 is greater than or equal to 12
print(19 >= 20)    # 5 is greater than or equal to 6

True
False
True
False
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:



* The statement "P and Q" is true if both P and Q are true, otherwise it is false.
*   The statement "P or Q" is false if both P and Q are false, otherwise it is true.


*   The statement "not P" is true if P is false, and vice versa.

In [107]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2)
print(2 > 1 or  3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

Example

In [108]:
print(10 > 20 and 30 > 29)
print(7 > 8 and 101 < 102)
print(100 > 99 or  6 < 4)
print(2022 < 2021 and 2010 < 2011)

False
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [109]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))

False
True

Example

In [110]:
print((5 > 4 or 2 < 7) and (2!=10 and 8>1) and not ( 5 < 1 or 2 < 6 and (8!=3 and 7>1)))
print(5 > 4 or 2 < 7) and (2!=10 and 8>1) and not ( 5 < 1 or 2 < 6 and (8!=3 and 7>1))

False
True

### If Statement

An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped

In [111]:
i = 0
if i == 0:   
  print('i == 0 is True')

i == 0 is True

Example

In [112]:
i = 20
if i ==20 :   
  print('--> i == 20 is True')

--> i == 20 is True

As we mentioned above, we can write some complex statements here:

In [113]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

Example

In [114]:
p = 5 > 9
q = 1 > 2
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

### Loop Structure

**While Loop** A "while" loop will run repeatedly until a certain condition has been met.

In [115]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

Example

In [116]:
i = 0
while i < 10:
    print(i)
    i += 2

0
2
4
6
8

**For Loop** A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [117]:
for x in [1,2,3,4,5]: 
  print(x)

1
2
3
4
5

Example

In [118]:
for x in [2,4,6,8,10,12,14]: 
  print(x)

2
4
6
8
10
12
14

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [119]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Example

In [120]:
newStocks = ['Python','Go','C++','React','Java','C#', 'C', 'Html']
newSelected = ['Html','React']
newList = []
for newStock in newStocks:
    if newStock not in newSelected:
        newList.append(newStock)
print(newList)

['Python', 'Go', 'C++', 'Java', 'C#', 'C']

**Break and continue** These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [121]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print(stock)
    if stock == 'FB': 
      break

AAPL
GOOG
IBM
FB

Example

In [122]:
newStocks = ['Python','Go','C++','React','Java','C#', 'C', 'Html']
for stock in newStocks:
    print(stock)
    if stock == 'C': 
      break

Python
Go
C++
React
Java
C#
C

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [123]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': 
      continue
    print(stock)

AAPL
GOOG
IBM
F
V
G
GE

Example

In [124]:
newStocks = ['Python','Go','C++','React','Java','C#', 'C', 'Html']
for stock in newStocks:
    if stock == 'Java': 
      continue
    print(stock)

Python
Go
C++
React
C#
C
Html

### List Comprehension

List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [125]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Example

In [126]:
newSquares = []
for i in [2,4,6,8,10]:
    newSquares.append(i**2)
print(newSquares)

[4, 16, 36, 64, 100]

Using list comprehension:

In [127]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print(squares)

[1, 4, 9, 16, 25]

Example

In [128]:
newFoo = [2,4,6,8,10]
newSquare = [x**2 for x in newFoo]
print(newSquare)

[4, 16, 36, 64, 100]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [129]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Example

In [130]:
newStocks = ['Python','Go','C++','React','Java','C#', 'C', 'Html']
newSelected = ['Html','React']
newList = [x for x in newStocks if x not in newSelected]
print(newList)

['Python', 'Go', 'C++', 'Java', 'C#', 'C']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [131]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

Example

In [132]:
print([(x, y) for x in [2,4,6,8] for y in [2020,2021,2022,2023] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['Python','Html','Java','Ruby']
                                for y in ['C#','C','JavaScript','Vue'] if x != y])

[(2, 2020), (2, 2021), (2, 2022), (2, 2023), (4, 2020), (4, 2021), (4, 2022), (4, 2023), (6, 2020), (6, 2021), (6, 2022), (6, 2023), (8, 2020), (8, 2021), (8, 2022), (8, 2023)]
['Python vs C#', 'Python vs C', 'Python vs JavaScript', 'Python vs Vue', 'Html vs C#', 'Html vs C', 'Html vs JavaScript', 'Html vs Vue', 'Java vs C#', 'Java vs C', 'Java vs JavaScript', 'Java vs Vue', 'Ruby vs C#', 'Ruby vs C', 'Ruby vs JavaScript', 'Ruby vs Vue']

# ***3. Functions and Objective-Oriented Programming***

### Functions

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [133]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

Example

In [134]:
def productPlusTwo(x,y):
    return x*y+2
print(productPlusTwo(4,4))
print(productPlusTwo(10,10))

18
102

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [135]:
def say_hi():
    print("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

Example

In [136]:
def say_bye():
    print("Hasta la proxima, saludos ")
say_bye()

Hasta la proxima, saludos

### Built-in Function

**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [137]:
print(list(range(10)))
print(list(range(1, 11)))
print(list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

Example

In [138]:
print(list(range(20)))
print(list(range(10, 29)))
print(list(range(1, 20, 4)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
[1, 5, 9, 13, 17]

**len()** 
is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [139]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print(k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

Example

In [140]:
language = ['Python', 'Java', 'C', 'C++', 'R', 'JavaScript', 'C#', 'MatLab', 'Swift','Go']
print("The number of language is {}".format(len(language)))
for i in range(len(language)):
    print(i + 1, language[i])

The number of language is 10
1 Python
2 Java
3 C
4 C++
5 R
6 JavaScript
7 C#
8 MatLab
9 Swift
10 Go

**map()**
 is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [141]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

Example

In [142]:
otherLanguage = ['PHP','SQL','VisualBasic']
print(list(map(len,otherLanguage)))

[3, 3, 11]

The **lambda operator** 
is a way to create small anonymous functions. These functions are just needed where they have been created. For example

In [143]:
list(map(lambda x : x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Example

In [144]:
list(map(lambda x : x**3, range(5)))

[0, 1, 8, 27, 64]

**map()**
can be applied to more than one list. The lists have to have the same length.

In [145]:
list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[6, 6, 6, 6, 6]

Example

In [146]:
list(map(lambda x, y: x*y, [2,3,4,6,12], [6,4,3,2,1]))

[12, 12, 12, 12, 12]

**sorted()**
 takes a list or set and returns a new sorted list:

In [147]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

Example

In [148]:
sorted([80,20,10,40,30,50,100,90])

[10, 20, 30, 40, 50, 80, 90, 100]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [149]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

Example

In [150]:
languages = [('R', 81.5), ('C++',87.5 ), ('C', 94.4), ('Java',96.3), ('Python',100.0 )]
sorted(languages, key = lambda x: x[1])

[('R', 81.5), ('C++', 87.5), ('C', 94.4), ('Java', 96.3), ('Python', 100.0)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [151]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

Example

In [152]:
otherLanguages = [('Python', 81.5), ('Java',87.5 ), ('C', 94.4), ('C++',96.3), ('R',100.0 )]
sorted(otherLanguages, key = lambda x: x[1], reverse = True)

[('R', 100.0), ('C++', 96.3), ('C', 94.4), ('Java', 87.5), ('Python', 81.5)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [153]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

Example

In [154]:
otherLanguages = [('Python', 81.5), ('Java',87.5 ), ('C', 94.4), ('C++',96.3), ('R',100.0 ), ('JavaScript',79.4 )]
otherLanguages.sort(key = lambda x: x[1])
print(otherLanguages)

[('JavaScript', 79.4), ('Python', 81.5), ('Java', 87.5), ('C', 94.4), ('C++', 96.3), ('R', 100.0)]

### Object-Oriented Programming

**Class**
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In [155]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

Example

In [156]:
class Money:
    def __init__(name, symbol, current, maximum, minimum):
        name.current = current
        name.symbol = symbol
        name.maximum = maximum
        name.minimum = minimum
        name.rate_return = float(minimum)/maximum - 1

    def update(name, current,minimum):
        name.current = current
        name.minimum = minimum
        name.rate_return = float(name.current)/name.minimum - 1

    def print_return(name):
        print(name.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

In [157]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

Example

In [158]:
colombia  = Money('COP', 3763.33, 3800.33 , 3650.33)
uruguay = Money('UYU', 43.70 , 45.70, 42.00)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [159]:
print(apple.ticker)
google.print_return()
google.update(912.8,913.4)
google.print_return()

AAPL
0.014465338822744034
0.0006573181419806673

Example

In [160]:
print(colombia.symbol)
colombia.print_return()
colombia.update(3764, 3500)
colombia.print_return()

COP
-0.039470256530353964
0.0754285714285714

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

In [161]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

Example

In [162]:
colombia.info ="Peso Colombiano"
colombia.info

'Peso Colombiano'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [163]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

Example

In [164]:
dir(colombia)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'current',
 'info',
 'maximum',
 'minimum',
 'print_return',
 'rate_return',
 'symbol',
 'update']

### Inheritance

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

Then we create an object:

In [165]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [166]:
aa = Child('AA')
print(aa.name)
aa.update(100, 102)
print(aa.open)
print(aa.close)

AA
100
102

In [167]:
print(aa.print_return() )

0.020000000000000018
None

Example

In [168]:
class Child(Money):
    def __init__(name, symbol):
        name.symbol = symbol

In [169]:
bb = Child('Example')
print(bb.symbol)
bb.update(3780, 3900)
print(bb.current)
print(bb.minimum)

Example
3780
3900

In [265]:
print(bb.print_return() )

-0.03076923076923077
None

# ***4. NumPy and Basic Pandas***

### NumPy

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [221]:
import numpy as np

### Basic NumPy Arrays

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [222]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Example

In [223]:
newList = [2020, 2021, 2022, 2023]
newArray = np.array(newList)
print(newArray, type(newArray))

[2020 2021 2022 2023] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [224]:
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

Example

In [225]:
newAr = np.array([[4,2], [2,0],[4,0]])
print(newAr, type(newAr))

[[4 2]
 [2 0]
 [4 0]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [226]:
print(Ar.shape)

(2, 2)

Example

In [227]:
print(newAr.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [228]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

Example

In [229]:
print(newAr[0])
print(newAr[1])
print(newAr[2])

[4 2]
[2 0]
[4 0]

If we want to access the matrix by column instead:

In [230]:
print('First column:', Ar[:,0])
print('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

Example

In [231]:
print('First column:', newAr[:,0])
print('Second column:', newAr[:,1])

First column: [4 2 4]
Second column: [2 0 0]

### Array Functions

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [232]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

Example

In [233]:
np.log(newArray)

array([7.61085279, 7.61134772, 7.6118424 , 7.61233684])

Other functions return a single value:

In [234]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

Example

In [235]:
print(np.mean(newArray))
print(np.std(newArray))
print(np.sum(newArray))
print(np.max(newArray))

2021.5
1.118033988749895
8086
2023

### Pandas

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [236]:
import pandas as pd

### Series

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

In [237]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

Example

In [238]:
years = [2010, 2011, 2012, 2013, 2014, 2015]
h = pd.Series(years)
print(h)

0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
dtype: int64

We can customize the indices of a new Series:

In [239]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Example

In [240]:
h = pd.Series(years, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(h)

a    2010
b    2011
c    2012
d    2013
e    2014
f    2015
dtype: int64

Or we can change the indices of an existing Series:

In [241]:
s.index = [6,5,4,3,2,1]
print(s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Example

In [242]:
h.index = [6,5,4,3,2,1]
print(h)

6    2010
5    2011
4    2012
3    2013
2    2014
1    2015
dtype: int64

Series is like a list since it can be sliced by index:

In [243]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Example

In [244]:
print(h[4:])
print(h[:-1])

2    2014
1    2015
dtype: int64
6    2010
5    2011
4    2012
3    2013
2    2014
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [245]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Example

In [246]:
i= 5
print(i,':', h[5])
h[i] = 0
print(h)

5 : 2011
6    2010
5       0
4    2012
3    2013
2    2014
1    2015
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [247]:
s = pd.Series(price, name = 'Apple Prices')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

Example

In [248]:
h = pd.Series(years, name = '_Years_')
print(h)
print(h.name)

0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
Name: _Years_, dtype: int64
_Years_

We can get the statistical summaries of a Series:

In [249]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

Example

In [250]:
print(h.describe())

count       6.000000
mean     2012.500000
std         1.870829
min      2010.000000
25%      2011.250000
50%      2012.500000
75%      2013.750000
max      2015.000000
Name: _Years_, dtype: float64

### Time Index

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [251]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

Example

In [252]:
time_index = pd.date_range('2021-10-15', periods = len(h), freq = 'H')
print(time_index)
h.index = time_index
print(h)

DatetimeIndex(['2021-10-15 00:00:00', '2021-10-15 01:00:00',
               '2021-10-15 02:00:00', '2021-10-15 03:00:00',
               '2021-10-15 04:00:00', '2021-10-15 05:00:00'],
              dtype='datetime64[ns]', freq='H')
2021-10-15 00:00:00    2010
2021-10-15 01:00:00    2011
2021-10-15 02:00:00    2012
2021-10-15 03:00:00    2013
2021-10-15 04:00:00    2014
2021-10-15 05:00:00    2015
Freq: H, Name: _Years_, dtype: int64

**iloc[]** 
is necessary when the index of a series are integers, take our previous defined series as example:

In [253]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

Example

In [254]:
h.index = [6,5,4,3,2,1]
print(h)
print(h[6])

6    2010
5    2011
4    2012
3    2013
2    2014
1    2015
Name: _Years_, dtype: int64
2010

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [255]:
print(s.iloc[1])

145.83

Example

In [256]:
print(h.iloc[3])

2013

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [257]:
#Se duplico este bloque de codigo para mostrar a detalle la conexion con el siguiente bloque
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [258]:
s.index = time_index
print(s['2017-01-03'])

143.68

Example

In [259]:
time_index = pd.date_range('2021-10-15', periods = len(h), freq = 'H')
print(time_index)
h.index = time_index
print(h)

DatetimeIndex(['2021-10-15 00:00:00', '2021-10-15 01:00:00',
               '2021-10-15 02:00:00', '2021-10-15 03:00:00',
               '2021-10-15 04:00:00', '2021-10-15 05:00:00'],
              dtype='datetime64[ns]', freq='H')
2021-10-15 00:00:00    2010
2021-10-15 01:00:00    2011
2021-10-15 02:00:00    2012
2021-10-15 03:00:00    2013
2021-10-15 04:00:00    2014
2021-10-15 05:00:00    2015
Freq: H, Name: _Years_, dtype: int64

In [260]:
h.index = time_index
print(h['2021-10-15 04:00:00'])

2014

We can even access to a range of dates:

In [261]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

Example

In [262]:
print(h['2021-10-15 00:00:00':'2021-10-15 04:00:00'])

2021-10-15 00:00:00    2010
2021-10-15 01:00:00    2011
2021-10-15 02:00:00    2012
2021-10-15 03:00:00    2013
2021-10-15 04:00:00    2014
Freq: H, Name: _Years_, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [263]:
print(s[s < np.mean(s)])
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

Example

In [264]:
print(h[h < np.mean(h)])
print(h[(h > np.mean(h)) & (h < np.mean(h) + 2*np.std(h))])

2021-10-15 00:00:00    2010
2021-10-15 01:00:00    2011
2021-10-15 02:00:00    2012
Freq: H, Name: _Years_, dtype: int64
2021-10-15 03:00:00    2013
2021-10-15 04:00:00    2014
2021-10-15 05:00:00    2015
Freq: H, Name: _Years_, dtype: int64